<html>
<head>
<meta http-equiv="Content-Type" content="text/html charset=UTF-8">
<title>Search</title>
<link rel="stylesheet" href="/static/search.css" type="text/css"></link>
</head>
<body>
    <div id="welcome" style="width:600px;height:160px;margin:10px auto"></div>
    <div id="error_msg">
    {% if errors %}
        {% for error in errors %}
        <p style="color: red;">{{error}}</p>
        {% endfor %}
    {% endif %}
    </div>
    <div class="search_box">
      <form id= "search_box" action="" method = "get">
        <h3>请输入您要搜索的作者：</h3>
        <div id="inputs">
          <input id="search_msg" name = "Author" type = "text" autofucus required>
          <input id="submit" type="submit" value = "search">
        </div>  
      </form>
    </div>
</body>
</html>
